.Product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-bottom: 5px;

}
.Product-name{
    color: blue;
    font-weight:  400;  
}
.Main-button{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border: 1px solid darkorange;
    border-radius: 5px;
    cursor: pointer;
}
.Main-button :hover{
    background-color: aqua;
    color: lightseagreen;
}